# ---------------------------------- Folders --------------------------------- #
**/__pycache__

.venv
.dev

# Ignore anything inside the Uploads folder except the .gitkeep
Server/Static/Uploads/*
!Server/Static/Uploads/.gitkeep

Server/Savestate/*
!Server/Savestate/.gitkeep