{% extends "Base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block additionalButtons %} 
<button id="toggleFreezeButton" class="btn btn-dark rounded-circle navbar-button">
    <i class="bi bi-sign-stop in-button-icon"></i>
</button>
<button id="previousContentButton" class="btn btn-dark rounded-circle navbar-button" title="Vorheriger Inhalt">
    <i class="bi bi-chevron-left in-button-icon"></i>
</button>
<button id="nextContentButton" class="btn btn-dark rounded-circle navbar-button" title="Nächster Inhalt">
    <i class="bi bi-chevron-right in-button-icon"></i>
</button>
{% endblock %}

{% block content %}
<div id="textContent" class="d-none centered-text-content"></div>

<div id="imageContent" class="d-none centered-content">
    <img id="imageElement" src="" alt="Image Content">
</div>

<div id="imageTextContent" class="d-none centered-image-text-content">
    <div id="imageTextTextElement"></div>
    <img id="imageTextImageElement" src="" alt="Image Text Content">
</div>

<div id="videoContent" class="d-none centered-content">
    <video id="videoElement" controls></video>
</div>

<div id="slideshowContent" class="d-none centered-content">
    <img id="slideshowElement" src="" alt="Slideshow Content">
</div>

<div id="pdfContent" class="d-none centered-content">
    <canvas id="pdfCanvas"></canvas>
</div>

<div id="excelContent" class="d-none centered-content"></div>

<div id="programContent" class="d-none centered-content"></div>

<div id="birthdayContent" class="d-none centered-birthday-content">
    <h1 id="birthdayText" class="mb-4"></h1>
    <img id="birthdayImage" src="" alt="Birthday Image" class="d-none">
</div>

<div id="weatherContent" class="d-none centered-content">
    <div id="weatherElement" class="weather-content mt-5"></div>
</div>

<div id="newsContent" class="d-none centered-content">
    <div class="card news-card-style">
        <img id="newsImage" src="" class="card-img-top" alt="News Image">
        <div class="card-body">
            <div class="d-flex ">
                <div>
                    <h5 id="newsTitle" class="card-title"></h5>
                    <p id="newsDescription" class="card-text"></p>
                </div>
                <div id="newsQRCode" class="qr-code"></div>
            </div>
        </div>
    </div>
</div>

<div id="gameContent" class="d-none centered-content">
    <iframe id="gameElement" src=""></iframe>
</div>
{% endblock %}

{% block scripts %}
<script>
    let content = {{ content | tojson }};
    const socketIoUrl = '{{ socketIoUrl }}';
    const showNavbar = '{{ showNavbar }}';
</script>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js';
</script>
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="{{ url_for('static', filename='Js/ShowContent.js') }}"></script>
{% endblock %}
